.wallet-side-bar{
  width: 30%;
  overflow: auto;
  padding-bottom: 15px;
  .inner-content{
    background: $color-second;
    border-radius: 5px;
    margin-top: 0;
    .currency-type-wrapper {
      width: 97%;
      margin: 0 auto;

      .currency-type {
        background-color: $color-first;
        border-radius: 2px;
        font-size: 10px;
        width: 170px;

        .active {
          background: $color-second;
          color: white;
          border-radius: 2px;
        }

        button {
          width: 48%;
        }
      }
    }
    .main{
      .deposit-wrapper{
        margin: 0 auto;
        .title{
          border-bottom: solid 1px black;
        }
        .content{
          p{
            overflow-wrap: break-word;
          }
        }
      }
      ul{
        li{
          width: 48%;
          border-bottom: dashed 1px white;
          .info{
            font-size: 9px;
            .top{
              color: red;
              p{
                padding: 2px;
                border-radius: 2px;
                &:first-child{
                  width: 40%;
                }
                &:last-child{
                  width: 57%;
                }
              }
            }
            .sub{
              p{
                padding: 2px;
                border-radius: 2px;
                &:first-child{
                  width: 90%;
                }
                &:last-child{
                  width: 10%;
                }
              }
            }
          }
        }
      }
    }
  }
}
